@font-face {
    font-family: OpenSans;
    src: url("assets/fonts/OpenSans.ttf");
}

body {
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

.header {
    border: 1px solid red;
}

.main {
    border: 1px solid red;
}

.footer {
    border: 1px solid red;
}